.container {
  width: 100vw;
  height: 100vh;
  text-align: center;
}
.pic {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
  border: 9px solid rgb(108, 131, 161);
}
#btn {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: rgb(215, 237, 250);
  font-weight: bold;
  border-radius: 10px;
}
